<style>
  .spinner-container {
    text-align: center;
    padding: 15vh 0;
  }
  .spinner-container mat-spinner {
    margin: 0 auto;
  }
</style>
<!-- ['item', 'spinner'] -->
<div [ngSwitch]="type">
  <div *ngSwitchCase="'spinner'">
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner color="warn"></mat-spinner>
    </div>
  </div>
  <div *ngSwitchDefault>
    <!-- <div *ngIf="isLoading">
      <app-item-loading></app-item-loading>
    </div> -->
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner color="warn"></mat-spinner>
    </div>
  </div>
</div>
