.home-container {
  margin-top: -100px;
}
.content {
  padding-top: 65vh;
  position: relative;
}
.main-image {
  position: absolute;
  top: 0;
}
.movie-actions {
  margin-bottom: 64px;
}
@media screen and (min-width: 1330px) {
}
.movie-actions a:last-child {
  margin-left: 0;
  margin-right: 0;
}
.act-square {
  padding: 0.2em 2em;
}
