<div style="margin-top: -100px;">
  <div>
    <thumb
      [playTrailer]="false"
      [previewLink]="'/assets/thumbs/02.jpg'"
    ></thumb>
  </div>
  <div class="content">
    <div class="container">
      <div class="movie-actions">
        <a class="act-square act-play">
          <mat-icon class="icon">play_arrow</mat-icon>
          <span class="act-label bold">Play movie</span>
        </a>
        <a class="act-square">
          <mat-icon class="icon">add</mat-icon>
          <span class="act-label bold">See detail</span>
        </a>
      </div>
    </div>
    <!-- <app-view-list></app-view-list> -->
  </div>
</div>
