<div class="movie-content">
  <thumb [thumbLink]="itemMovie.linkThumbnail" class="movie-thumb"></thumb>
  <div class="movie-info">
    <div class="movie-actions">
      <a class="act-play" routerLink="/movie/{{ itemMovie.id }}">
        <mat-icon class="icon">play_arrow</mat-icon>
      </a>
      <!-- <a (click)="onAddBookmark()">
        <mat-icon class="icon">add</mat-icon>
      </a> -->
      <a (click)="onLike()">
        <mat-icon class="icon">thumb_up</mat-icon>
      </a>
      <a (click)="onDislike()">
        <mat-icon class="icon">thumb_down</mat-icon>
      </a>
      <a (click)="onMoreDetail()">
        <mat-icon class="icon">expand_more</mat-icon>
      </a>
    </div>
    <p class="info-container">
      <span class="movie-matched bold">Match 98%</span
      ><span class="movie-age">{{ itemMovie.ages }} +</span
      ><span class="movie-time">{{ itemMovie.time }}</span>
    </p>
    <p class="movie-cate">
      <ng-container  *ngFor="let item of categories;index as i">
        {{i==0 ? '':'-'}} <span class="tab-item">{{ item  }} </span>
      </ng-container>
    </p>
  </div>
</div>
