<div class="container">
  <div class="footer">
    <p>
      <mat-icon>facebook</mat-icon>
      <mat-icon>catching_pokemon</mat-icon>
      <mat-icon>emoji_emotions</mat-icon>
      <mat-icon>public</mat-icon>
    </p>
    <div class="policy-container">
      <div class="policy-item">
        <p>Am tham va phu de</p>
        <p>Trung tam va da phuong tien</p>
        <p>Quyen rieng tu</p>
        <p>Lien lien voi chung toi</p>
      </div>
      <div class="policy-item">
        <p>Mo ta am thanh</p>
        <p>Lien he voi nha dau tu</p>
        <p>Thong bao phap ly</p>
      </div>
      <div class="policy-item">
        <p>Trung tham tro giup</p>
        <p>Viec lam</p>
        <p>Tuy chon cookie</p>
      </div>
      <div class="policy-item">
        <p>The qua tang</p>
        <p>Dieu khoan su dung</p>
        <p>Quyen rieng tu</p>
        <p>Thong tin doanh nghiep</p>
      </div>
    </div>
    <p class="code-service">Ma dich vu</p>
    <p>&copy; 1997-2021 Noflix, Inc Clone</p>
  </div>
 
</div>
