<!------ heading  ----->
<div *ngIf="!config.hideHeading" class="container">
  <div class="heading-container">
    <h1 class="heading-page">{{ config.title }}</h1>
    <select-category *ngIf="config.selectCategory" ></select-category>
  </div>
</div>
<!------ perloading ----->
<app-perloading
  *ngIf="config.isLoading"
  [isLoading]="config.isLoading"
  [type]="config.typeLoading"
></app-perloading>
<!------ main content ----->
<div *ngIf="!config.isLoading">
  <p class="empty" *ngIf="config.isEmpty">no data matched!</p>
  <div *ngIf="!config.isEmpty">
    <!------ banner ----->
    <div *ngIf="config.itemDisplay" class="main-image">
      <div
        class="banner"
        style="background-image: url(/assets/thumbs/{{
          config.itemDisplay.linkThumbnail
        }})"
      ></div>
    </div>
    <div *ngIf="config.itemDisplay" class="container">
      <div
        class="content"
        [ngClass]="!config.hideHeading ? 'content-heading' : ''"
      ></div>
      <div class="movie-actions">
        <a
          class="act-square act-play"
          routerLink="/movie/{{ config.itemDisplay.id }}"
        >
          <mat-icon class="icon">play_arrow</mat-icon>
          <span class="act-label bold">Xem phim</span>
        </a>
        <a class="act-square" (click)="onMoreDetail()">
          <mat-icon class="icon">add</mat-icon>
          <span class="act-label bold">Them thong tin</span>
        </a>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
